#top-navbar {
    color: rgb(78, 78, 160);
    
   
}

#top-navbar a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

#top-navbar .email {
    float: left;
    margin-right: 50px;
    
}

#top-navbar .icons {
    float: right;
    margin-left: auto;
}
body,html{
    height:100%;
    margin:0;
    padding:0;
}
#Intro{
    background-image:url("/home/sheza/Desktop/Hackathon/about.jpg");
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 20px;
    height:100vh;
    width:100%;
}
.Image{
    height: 100%;
    width:100%;

}

    


#navbar{
    background-color: white;
    height:100px;
    width:100vw;
    color:rgb(15, 15, 65);
    text-align:left;
    font-size:25px;
    text-decoration: none;
    margin-bottom: 100px;
    z-index:1;
    position: fixed;
    
}
#logo{
    color:rgb(36, 36, 93) ;
    font-weight:bolder;
    margin-right: 150px;
    font-size:60px;
}
#navbar a,#dropdown{
    margin-right:50px;
}
#dropdown{
    vertical-align:middle;
}
#navbar a{
    color:rgb(15, 15, 65);
    text-decoration:none;
}
#navbar a:hover {
    color: rgb(78, 78, 160); /* Change color on hover */
    text-decoration: underline;
}
#Appointment{
    height:50px;
    width:200px;
    border-radius:25px;
    background-color: rgb(23, 23, 82);
    color:white;
    font-family: 'Franklin Gothic Medium';
    font-size:20px;
    margin-right:10px;
    background-color: rgb(78, 78, 160);
    cursor:pointer;

}
#background-container {
    margin-top:15px;
    background-image: url('about.jpg'); /* Replace with your actual image path */
    background-size: cover;
    
}

#beginning {
    position: static;
    text-align: center;
    color: rgb(78, 78, 160);
    text-align: left;
    z-index: 2; /* Ensure the text is above the background */
    padding: 100px; /* Adjust padding as needed */
    top:100px;

}

#beginning h1,
#beginning h3 {
    margin: 10px;
    font-size: 50px;
    
}
#beginning button{
    height:50px;
    width:200px;
    border-radius:25px;
    font-size: 20px;
    background-color:rgb(34, 34, 148);
    color: white;
    font-weight: bolder;


}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    z-index: 3;
    bottom: 0;
    margin:0;
    justify-content: center;
    
}
.box1{
    height: 400px;
    width: 400px;
    background-color: rgb(34, 34, 88);
    border-radius:2%;
    margin-top:370px;
    margin-left:50px;
    margin-right:20px;
    font-size: 20px;
    color: white;
    padding: 20px;

}
.box{
    background-color: white;
    box-shadow:10px 10px 5px 2px lightgray;
    border-radius:3%;
    height:300px;
    width:300px;
    margin-top:430px;
    margin-left:10px;
    margin-right:10px;
    color:black;
    font-size: 15px;
    padding:15px;

}
.Information{
    display: flex;
    align-items: center;
    margin-top:20%;
    font-size: large;
    color:black;
}
.Information img{
    width:50%;
    height:500px;
    margin-right: 20px;
    margin-right:10px;
    
}
.Information h1{
    font-size: 45px;
    color: rgb(23, 23, 71);
}
.Information .content{
    flex:1;
    margin-left:20px;
    margin-right: 20px;
    font-size: 20px;
}
.Information .sub-content{
    font-size: 20px;
}
.section{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px;
    background-color: rgb(205, 231, 247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.grid{
    
    height: 150px;
    width:350px;
    background-color:whitesmoke;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left:5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.grid1{
    margin-left: 25px;
    margin-right: 25px;
    height: 150px;
    width:350px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-top: 75px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.grid1 h1,
.grid h1 {
    margin: 0; /* Remove default margin for h1 element */
}

.grid1 h3,
.grid h3 {
    margin: 0;
    font-size:35px; /* Remove default margin for p and h3 elements */
}

.services{
    text-align: center;
    background-color: white;
    width:100vw;
    height: 650px;
}
.services .line{
    margin: 0px 50%;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    width:80px;
    height: 5px;
    background-color: black;
    content: '';
}
.services h1{
    color:black;
    font-size: 50px;

}
.services p{
    font-size: 20px;
}
.service h1{
    color: #333;
    text-align: center;
}
.service-box{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-around;
}
.service{
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    width:30%;
    transition: background-color 0.3s, transform 0.3s,color 0.3s;

}
.service:hover{
    background-color: rgb(71, 71, 154);
    color:#f0f0f0;
    transform:scale(1.05);
}


.Appointment-container {
    text-align: center;
    
    width: 100%;
    height: 500px;
    padding: 20px;
    background-color: rgb(205, 231, 247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.Appointment-container .line{
    margin: 0px 50%;
    left:50%;
    bottom:0;
    margin-top: 5px;
    transform:translateX(-50%);
    width:200px;
    height: 5px;
    background-color: black;
    content: '';
}

.Appointment-container h1 {
    font-size: 55px;
    color: #333;
}

.Appointment-container p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    
}

.input-container input {
    width: 500px;
    margin-bottom: 10px;
    height: 40px;
    margin-left: 50px;
    margin-right: 30px;
}

.input-container .dropdown1 .input-container .dropdown2 {
    width: 100%;
    margin-left: 10px;
}

.dropdown1 select,.dropdown2 select {
    width: 515px;
    height: 45px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 50px;

}
.message input{
    width:75vw;
    height:100px;
    margin-right: 200px;
}
.appointment{
    height: 50px;
    width:200px;
    border-radius: 25px;
    align-items:center;
    color:white;
    background-color: rgb(70, 70, 133);
    font-size:15px;
}
.questions {
    height: 550px;
    background-color: rgb(205, 231, 247);
    width: 100vw;
    margin: 20px;
    padding:20px;
    text-align:center;
    align-items: center;

  }

  /* Style for the question */
  summary {
    cursor: pointer;
    padding: 10px;
    gap:10px;
    
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    text-align: left;
    outline: none; /* Remove default outline styles */
  }

  /* Style for the answer */
  details > div {
    padding: 10px;
    font-size: 15px;
    border-top: 1px solid #ddd;
  }
  details{
    margin-bottom: 15px;
  }
  .faq-container {
    width: 60%;
    margin: 0 auto;
    color: rgb(36, 36, 93);
    text-align: center;
  }
  .questions h1{
    font-size: 60px;
  }
  .questions p{
    font-size: 20px;
  }
  .image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Adjust the gap between images as needed */
    /* Adjust the maximum width of the container */
    margin: 20px auto; 
    width:100vw;/* Center-align the container */
  }
  .img-text h1{
    font-size: 50px;
    color: rgb(71, 71, 154);
    text-align: center;
  }
  .img-text .line{
    margin: 0px 50%;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    width:80px;
    height: 5px;
    background-color: rgb(71, 71, 154);
    content: '';
  }
  .img-text p{
    text-align: center;
    font-size: 20px;
    color:black
  }

  /* Style for the images */
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add border-radius for rounded corners if desired */
  }
  .doc-info h1{
    font-size: 60px;
    text-align: center;
  }
  .doc-info p{
    font-size: 20px;
    text-align:center;
  }
.doctor-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Adjust the gap between rectangles as needed */
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
  }
  .rectangle {
    width: 700px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px 10px 0px #333; /* Example background color */
    color: black;
    border-radius: 8px; /* Add border-radius for rounded corners if desired */
    height:200px;  
    
    margin-left: 70px;
         
  }
  .rectangle h1{
    text-align:left;
    margin-left: 250px;
    font-size:20px;
  }
  .doctor-grid .line{
    margin: 0px 50%;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    width:80px;
    height: 3px;
    background-color: rgb(71, 71, 154);
    content: '';
    margin-left:290px;
  }
  .rectangle h3{
    text-align:left;
    margin-left: 250px;
    font-size:15px;
  }
  .rectangle p{
    text-align:left;
    margin-left: 250px;
    font-size:15px;
  }
  .rectangle img{
    align-items:left;
  }
.doctor-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    align-items: left;
}
.contact h1{
    text-align: center;
    font-size: 60px;
  }
 .contact .line{
    margin: 0px 50%;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 50px; 
    height: 5px; 
    background-color: #000000; 
    content: '';
 }
.contact p{
    text-align:center;
    margin:4px;
    font-size: 20px;
}  

div.map >*{
    width:100%;
}
.contact-container{
    display:flex;
    flex-direction: column;
}
#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
    
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #1c84e3;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  }





